@font-face {
  font-family: 'Zolina M';
  src: url(../fonts/Zolina-Medium.ttf);
}

@font-face {
  font-family: 'Zolina B';
  src: url(../fonts/Zolina-Bold.ttf);
}

@font-face {
  font-family: 'Sofia Pro Regular';
  src: url(../fonts/Sofia\ Pro\ Regular\ Az.otf);
}

@font-face {
  font-family: 'Sofia Pro Semibold';
  src: url(../fonts/Sofia\ Pro\ Semi\ Bold\ Az.otf);
}